.toggleBtn{
    position: absolute;
    left: 79rem;
    top: 0.5rem;
    padding: 1rem;
    width: 13rem;
}

.toggleBtn .modeBtn{
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    gap: 1.2rem;
    align-items: center;
}